Adafruit-ADS1x15==1.0.2
Adafruit-Blinka==8.41.2
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-connectionmanager==3.1.0
adafruit-circuitpython-dht==4.0.4
adafruit-circuitpython-requests==4.0.0
adafruit-circuitpython-typing==1.10.3
Adafruit-DHT==1.4.0
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.69.0
Adafruit-PureIO==1.1.11
board==1.0
colorzero==2.0
evdev==1.7.1
gpiozero==2.0.1
hx711==1.1.2.3
numpy==1.26.4
pyftdi==0.55.4
pyserial==3.5
python-http-client==3.3.7
pyusb==1.2.1
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
spidev==3.6
sysv-ipc==1.1.0
typing_extensions==4.12.2
urllib3==2.2.1
